.page {
    max-width: 1000px;
    margin: 0 auto;
    container-type: inline-size;
}

.container {
    container-type: inline-size;
}

.layout {
}

@container (min-width: 900px) {
    .layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }
}